<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>searchBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E0D92F71D2B901E00EFC725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E0D93101D2B901E00EFC725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E0D931B1D2B901E00EFC725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
